@model IEnumerable<AnalysisViewModel>
@using Microsoft.AspNetCore.Authorization
@using MvcClient.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Analysis";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; 
}
@if(User.IsInRole("Managers")){
    <div class="row">
        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <h4 id="change-title" class="header-title">Sales</h4>
                    <div class="data-tables datatable-primary">
                        <table id="dataTable2" class="text-center" style="width:100%;font-size:15px">
                            <thead class="text-capitalize">
                                <tr>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Phone</th>
                                    <th>Total Units</th>
                                    <th>Total Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var sale in Model)
                                {
                                        var totalUnit = 0;
                                        double totalPrice = 0;
                                    <tr style="cursor:pointer" class="open_table"id="@sale.Sale.UserId">
                                        <td id="sale_name_@sale.Sale.UserId">@sale.Sale.Name</td>
                                        <td>@sale.Sale.Address.ToString()</td>
                                        <td>@sale.Sale.PhoneNumber</td>
                                        @foreach(var item in sale.Count ){
                                            totalUnit += item.TotalUnits;
                                            totalPrice += @Math.Round(item.UnitPrice * item.TotalUnits, 2);
                                        }
                                        <td>@totalUnit</td>
                                        <td>$@totalPrice.ToString("N2")</td>
                                    </tr>
                                }
                                
                            </tbody>
                        </table>
                        @foreach(var sale in Model){
                            <table id="sale_@sale.Sale.UserId" class="text-center" style="width:100%;font-size:15px;display:none">
                                <thead class="text-capitalize">
                                    <tr>
                                        <th>Name</th>
                                        <th>Unit Prices</th>
                                        <th>Total Units</th>
                                        <th>Total Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var item in sale.Count){
                                        <tr>
                                            <td>@item.Name</td>
                                            <td>$@item.UnitPrice</td>
                                            <td>@item.TotalUnits</td>
                                            <td>$@Math.Round(item.UnitPrice * item.TotalUnits, 2)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
}
    <script>
        $(document).ready(function(){
            $(document).on('click','.open_table',function(){
                var id =$(this).attr('id');
                var sale_name = $("#sale_name_"+id).text();
                html = '<a></a>';
                $("#dataTable2").hide();
                $("#sale_"+id).show(500);
                $("#change-title").text(sale_name+" /Items");
            })
        });
    </script>

