@model AnalysisViewModel
@using Microsoft.AspNetCore.Authorization
@using MvcClient.Authorization
@using System.Collections.Specialized
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Analysis";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; 
}
@if(User.IsInRole("Managers")){
    <div class="row">
        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <h3 id="change-title" class="header-title" style="text-align:center">List Of Sales</h3>
                    <div class="table-responsive">
                        <table class="table text-center" style="width:100%;font-size:15px">
                            <thead class="text-uppercase bg-dark">
                                    <tr class="text-white">
                                        <th scope="col" width="10%">Top</th>
                                        <th scope="col" width="20%">Name</th>
                                        <th scope="col" width="30%">Total Units</th>
                                        <th scope="col" width="35%">Total Price</th>
                                        <th scope="col" width="5%">Action</th>
                                    </tr>
                                </thead>
                            <tbody>
                                @{ var top_index = 1;}
                                @foreach(var sale in Model.SalesCount)
                                {
                                    <tr>
                                        <td>@top_index</td>
                                        <td >@sale.User.Name</td>
                                        <td>@sale.TotalUnits</td>
                                        <td>$@sale.TotalPrices.ToString("N2")</td>
                                        @{
                                            var temp = new Dictionary<string,string>
                                                {
                                                    {"saleName", @sale.User.Name},
                                                    {"id", @sale.User.UserId}
                                                    
                                                };
                                        }
                                        <td><a asp-action="Sale" asp-controller="Analysis" asp-all-route-data="@temp"><i style="font-size:25" class="fa fa-info"></i></a></td>
                                    </tr>
                                    top_index+=1;
                                }
                                
                            </tbody>
                        </table>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
}
@if(User.IsInRole("Administrators")){
    <div class="row">
        <div class="col-6 mt-5">
            <div class="card">
                <div class="card-body">
                    <h3 id="change-title" class="header-title" style="text-align:center">List Of Sales</h3>
                    <div class="table-responsive">
                        <table class="table text-center" style="width:100%;font-size:15px">
                            <thead class="text-uppercase bg-dark">
                                    <tr class="text-white">
                                        <th scope="col" width="10%">Top</th>
                                        <th scope="col" width="20%">Name</th>
                                        <th scope="col" width="30%">Total Units</th>
                                        <th scope="col" width="35%">Total Price</th>
                                        <th scope="col" width="5%">Action</th>
                                    </tr>
                                </thead>
                            <tbody>
                                @{ var top = 1;}
                                @foreach(var sale in Model.SalesCount)
                                {
                                    <tr>
                                        <td>@top</td>
                                        <td >@sale.User.Name</td>
                                        <td>@sale.TotalUnits</td>
                                        <td>$@sale.TotalPrices.ToString("N2")</td>
                                        @{
                                            var temp = new Dictionary<string,string>
                                                {
                                                    {"saleName", @sale.User.Name},
                                                    {"id", @sale.User.UserId}
                                                    
                                                };
                                        }
                                        <td><a asp-action="Sale" asp-controller="Analysis" asp-all-route-data="@temp"><i style="font-size:25" class="fa fa-info"></i></a></td>
                                    </tr>
                                    top+=1;
                                }
                                
                            </tbody>
                        </table>                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 mt-5">
            <div class="card">
                <div class="card-body">
                    <h3 id="change-title" class="header-title" style="text-align:center">List Of Buyers</h3>
                    <div class="table-responsive">
                        <table  class="table text-center" style="width:100%;font-size:15px">
                            <thead class="text-uppercase bg-dark">
                                <tr class="text-white">
                                    <th scope="col" width="10%">Top</th>
                                    <th scope="col" width="20%">Name</th>
                                    <th scope="col" width="30%">Total Units</th>
                                    <th scope="col" width="35%">Total Price</th>
                                    <th scope="col" width="5%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var index = 1;
                                }
                                @foreach(var buyer in Model.AllBuyers)
                                {
                                    <tr>
                                        <td scope="row">@index</td>
                                        <td >@buyer.User.Name</td>

                                        <td>@buyer.TotalUnits</td>
                                        <td>$@buyer.TotalPrices.ToString("N2")</td>
                                        @{
                                            var temp = new Dictionary<string,string>
                                                {
                                                    {"buyerName", @buyer.User.Name},
                                                    {"id", @buyer.User.UserId}
                                                    
                                                };
                                        }
                                        <td><a asp-action="Buyer" class="href_location" asp-controller="Analysis" asp-all-route-data="@temp"><i style="font-size:25" class="fa fa-info"></i></a></td>
                                    </tr>
                                    index+=1;
                                }
                                
                            </tbody>
                        </table>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <h3 id="change-title" class="header-title" style="text-align:center">List Of Items</h3>
                    <div class="table-responsive">
                        <table  class="table text-center" style="width:100%;font-size:15px">
                            <thead class="text-uppercase bg-dark">
                                <tr  class="text-white">
                                    <th scope="col" width="10%">Top</th>
                                    <th scope="col" width="20%">Image</th>
                                    <th scope="col" width="30%">Name</th>
                                    <th scope="col" width="15%">Total Units</th>
                                    <th scope="col" width="20%">Total Price</th>
                                    <th scope="col" width="5%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{var i = 1;}
                                @foreach(var item in Model.AllItems)
                                {
                                    <tr>
                                        <td scope="row">@i</td>
                                        <td class="item"><img class="img_aspect" src="/img/product/@item.PictureUrl" /></td>
                                        <td >@item.Name</td>
                                        <td>@item.TotalUnits</td>
                                        <td>$@item.TotalPrices.ToString("N2")</td>
                                        @{
                                            var temp = new Dictionary<string,string>
                                                {
                                                    {"itemName", @item.Name},
                                                    {"id", @item.UserId}
                                                    
                                                };
                                        }
                                        <td><a  class="href_location" asp-action="Item" asp-controller="Analysis" asp-all-route-data="@temp"><i style="font-size:25" class="fa fa-info"></i></a></td>
                                    </tr>
                                    i += 1;
                                }
                                
                            </tbody>
                        </table>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if(User.IsInRole("Sales")){

    <div class="row">
        <div class="col-6 mt-5">
            <div class="card">
                <div class="card-body">
                    <h3 id="change-title" class="header-title" style="text-align:center">Your List Of Buyers</h3>
                    <div class="table-responsive">
                        <table  class="table text-center" style="width:100%;font-size:15px">
                            <thead class="text-uppercase bg-dark">
                                <tr class="text-white">
                                    <th scope="col" width="20%">Top</th>
                                    <th scope="col" width="20%">Name</th>
                                    <th scope="col" width="20%">Total Units</th>
                                    <th scope="col" width="35%">Total Price</th>
                                    <th scope="col" width="5%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{var idx = 1;}
                                @foreach(var buyer in Model.BuyersCount)
                                {
                                    <tr>
                                        <td>@idx</td>
                                        <td >@buyer.Name</td>
                                        <td>@buyer.TotalUnits</td>
                                        <td>$@buyer.TotalPrices.ToString("N2")</td>
                                        @{
                                            var temp = new Dictionary<string,string>
                                                {
                                                    {"buyerName", @buyer.Name},
                                                    {"id", @buyer.UserId}
                                                    
                                                };
                                        }
                                        <td><a  class="href_location" asp-action="Buyer" asp-controller="Analysis" asp-all-route-data="@temp"><i style="font-size:25" class="fa fa-info"></i></a></td>
                                    </tr>
                                    idx+=1;
                                }
                                
                            </tbody>
                        </table>                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <h3 id="change-title" class="header-title" style="text-align:center">Your List Of Items</h3>
                    <div class="table-responsive">
                        <table  class="table text-center" style="width:100%;font-size:15px">
                            <thead class="text-uppercase bg-dark">
                                <tr class="text-white">
                                    <th scope="col" width="10%">Top</th>
                                    <th scope="col" width="20%">Image</th>
                                    <th scope="col" width="30%">Name</th>
                                    <th scope="col" width="15%">Total Units</th>
                                    <th scope="col" width="20%">Total Price</th>
                                    @* <th scope="col" width="5%">Action</th> *@
                                </tr>
                            </thead>
                            <tbody>
                                @{var top_idx = 1;}
                                @foreach(var item in Model.AllItems)
                                {
                                    <tr>
                                        <td scope="row">@top_idx</td>
                                        <td class="item"><img class="img_aspect" src="/img/product/@item.PictureUrl" /></td>
                                        <td >@item.Name</td>
                                        <td>@item.TotalUnits</td>
                                        <td>$@item.TotalPrices.ToString("N2")</td>
                                        @{
                                            var temp = new Dictionary<string,string>
                                                {
                                                    {"itemName", @item.Name},
                                                    {"id", @item.UserId}
                                                    
                                                };
                                        }
                                        @* <td><a  class="href_location" asp-action="Item" asp-controller="Analysis" asp-all-route-data="@temp"><i style="font-size:25" class="fa fa-info"></i></a></td> *@
                                    </tr>
                                    top_idx += 1;
                                }
                                
                            </tbody>
                        </table>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        
    </script>

}

