@model IEnumerable<AnalysisViewModel>
@using Microsoft.AspNetCore.Authorization
@using MvcClient.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Analysis";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; 
}
@if(User.IsInRole("Managers") || User.IsInRole("Administrators")){
    <div class="row">
        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <h4 id="change-title" class="header-title">Sales</h4>
                    <div class="data-tables datatable-primary">
                        <table id="dataTable2" class="text-center" style="width:100%;font-size:15px">
                            <thead class="text-capitalize">
                                <tr>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Phone</th>
                                    <th>Total Units</th>
                                    <th>Total Price</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var sale in Model)
                                {
                                    <tr>
                                        <td >@sale.Sale.Name</td>
                                        <td>@sale.Sale.Address.ToString()</td>
                                        <td>@sale.Sale.PhoneNumber</td>
                                        <td>@sale.TotalUnits</td>
                                        <td>$@sale.TotalPrices.ToString("N2")</td>
                                        @{
                                            var temp = new Dictionary<string,string>
                                                {
                                                    {"saleName", @sale.Sale.Name},
                                                    {"id", @sale.Sale.UserId}
                                                    
                                                };
                                        }
                                        <td><a asp-action="Sale" asp-controller="Analysis" asp-all-route-data="@temp"><i style="font-size:25" class="fa fa-info"></i></a></td>
                                    </tr>
                                }
                                
                            </tbody>
                        </table>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
}

