@model Cart

<div class="container">
    <article class="esh-basket-titles row">
        <table style="width: 80%;">
            <thead>
                <tr>
                    <th>Product</th>
                    <th></th>
                    <th style="width: 10rem;text-align:center">Price</th>
                    <th style="text-align: center;">Quantity</th>
                    <th style="text-align: right;">Cost</th>
                </tr>
            </thead>
            <tbody>
            @for (int i = 0; i < Model.CartItems.Count; i++)
            {
                var item = Model.CartItems[i];
                
                <tr>
                    <td><img class="esh-basket-image" src="@item.PictureUrl"/></td>
                    <td>@item.ItemName</td>
                    <td style="text-align:center">$ @item.UnitPrice.ToString("N2")</td>
                    <td style="text-align: center;">
                        <input type="hidden" name="@("quantities[" + i +"].Key")" value="@item.Id" />
                        <input style="width: 6rem;" min="1" asp-for="@item.Quantity"/>
                    </td>
                    <td style="text-align: right;">$ @Math.Round(item.UnitPrice * item.Quantity, 2).ToString("N2")</td>
                    <td style="text-align: right;" type="button" value="[X]"></td>
                </tr>
                @if (item.OldUnitPrice != 0)
                {
                    <div class="alert alert-warning esh-basket-margin12" role="alert">
                        Note that the price of this article changed in our Catalog. The old price when you originally added it to the basket was $ 
                        @item.OldUnitPrice 
                    </div>
                }
            }
                <tr>
                    <td colspan="4"></td>
                    <td style="text-align: right;">TOTAL</td>
                </tr>
                <tr>
                    <td colspan="4"></td>
                    <td style="text-align: right;"><section class="esh-basket-item esh-basket-item--mark">$ @Model.Total()</section></td>
                </tr>
                <tr>
                    <article class="esh-basket-items row">
                    <td colspan="3"></td>
                    <td style="text-align: center;">
                        <section class="esh-basket-item">
                            <input class="btn esh-basket-checkout"  name="action" value="[ Clear ]" type="submit" />
                        </section>
                    </td>
                    <td style="text-align: center;">
                        <section class="esh-basket-item">
                            <button class="btn esh-basket-checkout" name="name" value="[ Update ]" type="submit">[ Update ]</button>
                        </section>
                    </td>
                    <td style="text-align: right;">
                        <section class="esh-basket-item">
                            <input type="submit" class="btn esh-basket-checkout" value="[ Checkout ]" name="action" />
                        </section>
                    </td>
                    </article>
                </tr>
            </tbody>
        </table>
    </article>
</div>