@model Cart
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th width="10%" class="shoping__product">Products</th>
                                <th width="55%">Products Name</th>
                                <th width="10%">Price</th>
                                <th width="10%">Quantity</th>
                                <th width="10%">Total</th>
                                <th width="5%"></th>
                            </tr>
                        </thead>
                        @if(@Model.CartItems.Count == 0){
                            <tbody id="cart_body">
                                <tr>
                                    <td colspan="6"><h3>Your cart is empty</h3></td>
                                </tr>
                            </tbody>
                        }
                        else{
                            <tbody id="cart_body">
                                <input type="hidden" id="length_cart" value="@Model.CartItems.Count">
                                @for (int i = 0; i < Model.CartItems.Count; i++)
                                {
                                    var item = Model.CartItems[i];
                                    <tr>
                                        <td  class="shoping__cart__item">
                                            <img class="item_picture" src="img/product/@item.PictureUrl"/>
                                        
                                        </td>
                                        <td >
                                            <h5>@item.ItemName</h5>
                                        </td> 
                                        <td  class="shoping__cart__price">$ @item.UnitPrice.ToString("N2")</td>
                                        <td  class="shoping__cart__quantity">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    <input disabled min="1" type="number" id="item_Quantity_@i" value="@item.Quantity" name="item.Quantity"/>
                                                </div>
                                            </div>
                                            <input type="hidden" name="@("quantities[" + i +"].Key")" value="@item.Id" />
                                        </td>
                                        <td  class="shoping__cart__total">$@Math.Round(item.UnitPrice * item.Quantity, 2).ToString("N2")</td>
                                        <td class="shoping__cart__item__close clear_item" id="@item.Id" >
                                            <span class="icon_close"></span>
                                        </td>
                                    </tr>
                                    @if (item.OldUnitPrice != 0)
                                    {
                                        <div class="alert alert-warning esh-basket-margin12" role="alert">
                                            Note that the price of this article changed in our Catalog. The old price when you originally added it to the basket was $ 
                                            @item.OldUnitPrice 
                                        </div>
                                    }
                                }
                            </tbody>
                            }
                        
                    </table>
                </div>
            </div>
        </div>
        @if(Model.CartItems.Count == 0){
            <div class="row">
                <div class="col-lg-12">
                    <div class="shopping__cart__btns">
                        <a asp-action="Index" asp-controller="Shop" class="primary-btn cart-btn"><i class="fa fa-arrow-left"></i> CONTINUE SHOPPING</a>
                    </div>
                </div>
            </div>
        }
        else{
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__btns">
                        <a asp-action="Index" asp-controller="Shop" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                        <a style="cursor:pointer;margin:0 25px" class="primary-btn cart-btn clear_cart cart-btn-right">CLEAR ALL</a>
                        <a style="cursor:pointer" class="primary-btn cart-btn cart-btn-right update_cart">
                            UPDATE</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    
                </div>
                <div class="col-lg-6">
                    <div class="shoping__checkout">
                        <h5>Cart Total</h5>
                        <ul>
                            <li>Subtotal <span id="suptotal">$@Model.Total().ToString("N2")</span></li>
                            <li>Total <span id="total">$@Model.Total().ToString("N2")</span></li>
                        </ul>
                        <a asp-action="Create" asp-controller="Order" class="primary-btn">PROCEED TO CHECKOUT</a>
                    </div>
                </div>
            </div>
        }
        
    </div>
</section>