@model Item
@using Microsoft.AspNetCore.Authorization
@using MvcClient.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <div class="row" style="text-align: justify;">
        <h1>Detail</h1>
    </div>
    <br />
    <div class="row">
        @if((await AuthorizationService.AuthorizeAsync(User, Model, ItemOperations.Approve)).Succeeded)
        {
            <form asp-action="Approve" contro method="POST" style="display: inline;">
                <input type="hidden" asp-for="@Model.Id"/>
                <button type="submit" class="btn btn-xs btn-success">Approve</button>
            </form>
        }
        @if((await AuthorizationService.AuthorizeAsync(User, Model, ItemOperations.Reject)).Succeeded)
        {
            <form asp-action="Reject" method="POST" style="display: inline;">
                <button type="submit" class="btn btn-xs btn-danger">Reject</button>
                <input type="hidden" asp-for="@Model.Id"/>
            </form>
        }
    </div>
    <br />
    <dl class="row">
        @{string PictureURLPath = @Url.Content("~/img/product/"+@Model.PictureUrl);}
        <img src="@PictureURLPath" height="300px" width="300px"/>
    </dl>
    <br />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Name)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Category)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Category)</dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.UnitPrice)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.UnitPrice)</dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.PublishDate)</dt>
        <dd class="col-sm-10">@Model.DisplayPublishDate()</dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Description)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Description)</dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.ItemStatus)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.ItemStatus)</dd>
    </dl>

    <div class="row">
        <div class="form-group btn-group mb-xl-3">
            <a type="button" class="btn btn-outline-primary mb-3" asp-action="Index">Back</a>
            <a class="btn btn-success mb-3" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> 
        </div>
    </div>

</div>

