@model IndexViewModel

@{
    ViewData["Title"] = "Ogani Shop";
    var selectList = new SelectList(Model.Categories);
}
<section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All departments</span>
                        </div>
                        <ul>
                            @foreach(var item in Model.Categories){
                                <li><a asp-action="Index" asp-controller="Shop" asp-route-itemCategory="@item">@item</a></li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form asp-action="Index" method="GET">
                            <div >
                                <select class="hero__search__categories"  asp-for="ItemCategory"  asp-items="@selectList">
                                    <option value="">All categories </option><span class="arrow_carrot-down"></span>
                                </select>
                                
                            </div>                   
                                
                                
                                <input type="text" asp-for="SearchString"  placeholder="What do yo u need?">

                                <button type="submit" value="Filter" class="site-btn">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+65 11.188.888</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
</section>
<section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Organi Shop</h2>
                    <div class="breadcrumb__option">
                        <a asp-action="Index" asp-controller="Home">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>Department</h4>
                        <ul id="select_category" name="select_category">
                        
                            @foreach(var item in Model.Categories){
                                var category = Model.ItemCategory == item ? "active":"";
                                <li data-itemcategory = "@item" class="choose_category @category"><a>@item</a></li>
                            }
                        </ul>
                    </div>
                    <div class="sidebar__item">
                        <h4>Price</h4>
                        <div class="price-range-wrap">
                            <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                data-min="0" data-max="500">
                                <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                            </div>
                            <div class="range-slider">
                                <div class="price-input">
                                    <input class="price_filter" type="text" id="minamount" disabled >
                                    <input class="price_filter" type="text" id="maxamount" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar__item">
                        <div class="latest-product__text">
                            <h4>Latest Products</h4>
                            <div class="latest-product__slider owl-carousel">
                                @{
                                    var ItemSize = 3;
                                    var TotalItem = (int)Math.Ceiling(Model.LatestItems.Count / (double)ItemSize);
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                            <div class="filter__sort">
                                <span>Sort By</span>
                                <select class="select_sort_value">
                                    <option value="" selected>Name</option>
                                    <option value="name_desc">Name Descending</option>
                                    <option value="price">Price</option>
                                    <option value="price_desc">Price Descending</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="filter__found">
                                <h6><span id="number_products">@Model.Items.Count</span> Products found</h6>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3">
                            <div class="filter__option">
                                <span class="icon_grid-2x2"></span>
                                <span class="icon_ul"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="loadProductPage">
                    
                    @foreach(var item in Model.ItemsPaging){
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic " >
                                    <div class="item__picture__inside" style="position:relative">
                                        <img class="item_picture" src="img/product/@item.PictureUrl">
                                    </div>
                                    <input type="hidden" value="@item.CategoryId" id="item_category_id_@item.Id">
                                    <input type="hidden" value="@item.PictureUrl" id="item_picture_uri_@item.Id"/>
                                    <input type="hidden" value="@item.UnitPrice" id="item_price_@item.Id"/>
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a asp-action="Details" asp-controller="Shop" asp-route-Id = "@item.Id"><i class="fa fa-info"></i></a></li>
                                        @if(User.Identity.IsAuthenticated){
                                            <li><a style="cursor:pointer" class="add_to_cart" id="@item.Id"><i class="fa fa-shopping-cart"></i></a></li>
                            
                                        }
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6 ><a id="item_name_@item.Id">@item.Name</a></h6>
                                    <h5>$@item.UnitPrice.ToString("N2")</h5>
                                </div>
                            </div>
                        </div>
                    }
                    @{
                        var prevDisabled = !Model.ItemsPaging.HasPrevious ? "disabled" : "";
                        var nextDisabled = !Model.ItemsPaging.HasNext ? "disabled" : "";
                    }   
                
                </div>
                <div style="text-align:center" class="product__pagination">
                    <a style="cursor:pointer" class="@prevDisabled number_page" id="page_@(Model.ItemsPaging.PageIndex-1)"><i class="fa fa-long-arrow-left"></i></a>
                    @for(var i = 0;i<Model.ItemsPaging.TotalPages;i++){
                        var pageActive = Model.ItemsPaging.PageIndex == (i+1) ?"active":"";
                        <a style="cursor:pointer" id="page_@(i+1)" class="number_page @pageActive" >@(i+1)</a>
                    }
                    <a style="cursor:pointer" class="@nextDisabled number_page" id="page_@(Model.ItemsPaging.PageIndex+1)"><i class="fa fa-long-arrow-right"></i></a>
                </div>
                <div class="product__discount">
                    <div class="section-title product__discount__title">
                        <h2>Latest Products</h2>
                    </div>
                    <div class="row">
                        <div class="product__discount__slider owl-carousel">
                            @foreach(var item in Model.LatestItems){
                                <div class="col-lg-4">
                                    <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                            data-setbg="img/product/@item.PictureUrl">
                                            <ul class="product__item__pic__hover">
                                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span>@item.Category</span>
                                            <h5><a href="#">@item.Name</a></h5>
                                            <div>@item.UnitPrice </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script>
        (function ($) {
            var delay = 1000;
            $(document).ajaxStart(function(){
                
            })
            $(document).ajaxComplete(function(){
            })
            function loadItem(itemCategory,minPrice,maxPrice,sortValue,pageNumber){
                pageNumber = parseInt(pageNumber);
                minPrice = parseFloat(minPrice);
                maxPrice = parseFloat(maxPrice);
                $.ajax({
                    type: 'GET',
                    data: {itemCategory:itemCategory,minPrice:minPrice,maxPrice:maxPrice,sortOrder:sortValue, pageNumber: pageNumber} ,
                    url: '@Url.Action("ItemPaging","Shop")',
                    success:function(data){
                        count = 0;
                        html = ''
                        for(i = 0;i < data.itemsPaging.length;i++){
                            count += 1;
                            html += '<div class="col-lg-4 col-md-6 col-sm-6">';
                            html += '   <div class="product__item">';
                            html += '       <div class="product__item__pic">';
                            html += '           <div class="item__picture__inside" style="position:relative">';
                            html += '               <img class="item_picture" src="img/product/'+data.itemsPaging[i].pictureUrl+'"></div>';
                            html += '           <input type="hidden" value="'+data.itemsPaging[i].categoryId+'" id="item_category_id_'+ data.itemsPaging[i].id+'">';        
                            html += '           <input type="hidden" value="'+data.itemsPaging[i].pictureUrl+'" id="item_picture_uri_'+data.itemsPaging[i].id+'"/>';        
                            html += '           <input type="hidden" value="'+data.itemsPaging[i].unitPrice+'" id="item_price_'+data.itemsPaging[i].id+'"/>';        
                            html += '           <ul class="product__item__pic__hover">';
                            html += '               <li><a href="#"><i class="fa fa-heart"></i></a></li>';
                            html += '                   <li><a href="#"><i class="fa fa-info"></i></a></li>';
                            html += '                   @if(User.Identity.IsAuthenticated){<li><a style="cursor:pointer" class="add_to_cart" id="'+data.itemsPaging[i].id+'"><i class="fa fa-shopping-cart"></i></a></li>}';
                            html += '           </ul>';
                            html += '       </div>';
                            html += '       <div class="product__item__text">';
                            html += '           <h6><a id="item_name_'+data.itemsPaging[i].id+'" href="#">'+data.itemsPaging[i].name+'</a></h6>';
                            html += '           <h5>$'+data.itemsPaging[i].unitPrice+'</h5>';
                            html += '       </div>';
                            html += '   </div>';
                            html += '</div>';
                        }
                        html_2 = '';
                        if(count==0){
                            html += "<div class='col-md-12' style='height:800px'><h3>Sorry we couldn't find any products</h3></div>";
                        }
                        else{
                            if(pageNumber == 1){
                                html_2 += '<a style="cursor:pointer"  class="disabled" ><i class="fa fa-long-arrow-left"></i></a>';
                            }
                            else{
                                html_2 += '<a style="cursor:pointer" id="page_'+(pageNumber-1)+'" class="number_page" ><i class="fa fa-long-arrow-left"></i></a>'
                            }
                            for(i=0;i<data.pageTotal;i++)
                            {
                                if((i+1) != pageNumber)
                                {
                                    html_2 += '<a style="cursor:pointer" id="page_'+(i+1)+'" class="number_page" >'+(i+1)+'</a>';
                                }
                                else{
                                    html_2 += '<a style="cursor:pointer" id="page_'+(i+1)+'" class="active number_page" >'+(i+1)+'</a>';
                                }
                            }
                            if(pageNumber == data.pageTotal){
                                html_2 += '<a style="cursor:pointer"  class="disabled" ><i class="fa fa-long-arrow-right"></i></a>';
                            }
                            else{
                                html_2 += '<a style="cursor:pointer" id="page_'+(pageNumber+1)+'" class="number_page" ><i class="fa fa-long-arrow-right"></i></a>'
                            }
                        }
                        
                        
                        
                        
                    },
                    complete: function(){
                        setTimeout(function(){
                            $("#loadProductPage").removeClass('preloder_product');
                            $("#loadProductPage").html(html);
                            $(".product__pagination").html(html_2);
                            $("#number_products").text(count);   
                            $('.set-bg').each(function () {
                                var bg = $(this).data('setbg');
                                $(this).css('background-image', 'url(' + bg + ')');
                            }); 
                        },delay)
                        
                    },
                    error: function(xhr){
                        alert("error");
                    }
                })
            }
            
            $(document).on('click','.number_page',function(){
                $('html, body').animate({
                    scrollTop: $("#loadProductPage").offset().top
                }, 1500);
                var pageNumber = $(this).attr("id").slice(5);
                var selectedSort = $(".select_sort_value").children("option:selected").val();
                var category = $('ul#select_category').find('li.active').text();
                var minPrice = $('#minamount').val().slice(1);
                var maxPrice = $('#maxamount').val().slice(1)
                html = '<div class="loader_product"></div>';
                $(".product__pagination").html('');
                $("#loadProductPage").addClass("preloder_product").html(html);
                loadItem(category,minPrice,maxPrice,selectedSort,pageNumber);
            })
            $(document).on('change','.select_sort_value',function(){
                var selectedSort= $(this).children("option:selected").val();
                var category = $('ul#select_category').find('li.active').text();
                var minPrice = $('#minamount').val().slice(1);
                var maxPrice = $('#maxamount').val().slice(1);
                var loadHtml = '';
                $(".product__pagination").html('');
                html = '<div class="loader_product"></div>';
                
                $("#loadProductPage").addClass("preloder_product").html(html);
                loadItem(category,minPrice,maxPrice,selectedSort,1);    
            })
            $(document).on('click','.choose_category',function(){
                var category = $(this).text();
                $("ul#select_category li.active").removeClass('active');
                $(this).addClass('active');
                var selectedSort = $(".select_sort_value").children("option:selected").val();
                var minPrice = $('#minamount').val().slice(1);
                var maxPrice = $('#maxamount').val().slice(1)
                var loadHtml = '';
                $(".product__pagination").html('');
                html = '<div class="loader_product"></div>';
                
                $("#loadProductPage").addClass("preloder_product").html(html);
                loadItem(category,minPrice,maxPrice,selectedSort,1);    
            })
            $(document).on('keyup','.price_filter',function(){
                var selectedSort = $(".select_sort_value").children("option:selected").val();
                var category = $('ul#select_category').find('li.active').text();
                var minPrice = $('#minamount').val().slice(1);
                var maxPrice = $('#maxamount').val().slice(1)
                var loadHtml = '';
                $(".product__pagination").html('');
                html = '<div class="loader_product"></div>';
                
                $("#loadProductPage").addClass("preloder_product").html(html);
                loadItem(category,minPrice,maxPrice,selectedSort,1);
            })
            $(document).on('mouseup','.price-range',function(){
                var selectedSort = $(".select_sort_value").children("option:selected").val();
                var category = $('ul#select_category').find('li.active').text();
                var minPrice = $('#minamount').val().slice(1);
                var maxPrice = $('#maxamount').val().slice(1)
                var loadHtml = '';
                $(".product__pagination").html('');
                html = '<div class="loader_product"></div>';
                
                $("#loadProductPage").addClass("preloder_product").html(html);
                loadItem(category,minPrice,maxPrice,selectedSort,1);
            })
            })(jQuery);
    </script>
}