@model User;

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container">
    <div class="row" style="text-align: justify;">
        <h1>Delete</h1>
    </div>
    <br />
    <h3>Are you sure you want to delete this item?</h3>
    <hr/>
    <div class="row">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.UserName)</dt>
            <dd>
                @Html.DisplayFor(model => model.UserName)</dd>
            <dt>
                @Html.DisplayNameFor(model => model.FamilyName)</dt>
            <dd>
                @Html.DisplayFor(model => model.FamilyName)</dd>
            <dt>
                @Html.DisplayNameFor(model => model.GivenName)</dt>
            <dd>
                @Html.DisplayFor(model => model.GivenName)</dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email)</dt>
            <dd>
                @Html.DisplayFor(model => model.Email)</dd>
            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)</dt>
            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)</dd>
            <dt>
                @Html.DisplayNameFor(model => model.Website)</dt>
            <dd>
                @Html.DisplayFor(model => model.Website)</dd>
            <dt>
                @Html.DisplayNameFor(model => model.Address)</dt>
            <dd>
                @Model.Address.ToString()</dd>
            <dt>
                @Html.DisplayNameFor(model => model.Role)</dt>
            <dd>
                @Html.DisplayFor(model => model.Role)</dd>
        </dl>
    </div>
    <div class="row">
        <div class="form-group btn-group mb-xl-3">
            <a type="button" class="btn btn-outline-primary mb-3" asp-action="Index">Back</a>
            <form asp-action="Delete" method="POST">
                <input type="hidden" asp-for="UserId"/>
                <input type="submit" value="Delete" class="btn btn-danger"/>
            </form>
        </div>
    </div>
</div>