@model IndexViewModel

@{
    ViewData["Title"] = "Ogani";
    var selectList = new SelectList(Model.Categories);
}

@* <section class="esh-catalog-hero">
    <div class="container">
        <img class="esh-catalog-title" src="~/images/main_banner_text1.png" />
    </div>
</section> *@

@* <section class="esh-catalog-filters">
    <div class="container">
        <form asp-action="Index" method="GET">
            <p>
                <select asp-for="ItemCategory" asp-items="@selectList">
                    <option value="">Tất cả</option>
                </select>
                Title: <input asp-for="SearchString" type="text"/>
                <input type="submit" value="Filter"/>
            </p>
        </form>
    </div>
</section> *@
<section class="hero" >
        <div class="container" >
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All departments</span>
                        </div>
                        <ul>
                            @foreach(var item in Model.Categories){
                                <li><a asp-action="Index" asp-controller="Shop" asp-route-itemCategory="@item">@item</a></li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form asp-action="SearchCategory" method="GET">
                            <div >
                                <select class="hero__search__categories"  asp-for="ItemCategory"  asp-items="@selectList">
                                    <option value="">All categories </option><span class="arrow_carrot-down"></span>
                                </select>
                                
                            </div>                   
                                
                                
                                <input type="text" asp-for="SearchString"  placeholder="What do yo u need?">

                                <button type="submit" value="Filter" class="site-btn">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+65 11.188.888</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                    <div style="padding-top:10px" class="hero__item set-bg" data-setbg="img/hero/banner_2.jpg">
                        <div class="hero__text">
                            <span>House Ware</span>
                            <h2>BIG SALE <br />50% OFF</h2>
                            <p>Free Pickup and Delivery Available</p>
                            <a href="#" class="primary-btn">SHOP NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                @foreach(var item in Model.Categories){
                    var categoryUrl = item.ToLower().Replace(","," ").Replace(" ","_")+".jpg";
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="img/categories/@categoryUrl">
                            <h5><a asp-action="Index" asp-controller="Shop" asp-route-itemCategory="@item">@item</a></h5>
                        </div>
                    </div>
                }
                
            </div>
        </div>
    </div>
</section>
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Featured Product</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        @for(var i=0;i < @Model.Categories.Count();i++){
                            <li data-filter=".category_@Model.CategoriesId.ElementAt(i)">@Model.Categories.ElementAt(i)</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="row featured__filter">
            @for(var i=0;i < @Model.Items.Count(); i++ )
            {
                var temp = @Model.Items[i].CategoryId;
                var fillter = "category_" + temp ;
                <div class="col-lg-3 col-md-4 col-sm-6 mix @fillter">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="img/product/@Model.Items[i].PictureUrl">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a asp-action="Details" asp-controller="Shop" asp-route-Id="@Model.Items[i].Id"><i class="fa fa-info"></i></a></li>
                                <input type="hidden" value="@Model.Items[i].CategoryId" id="item_category_id_@Model.Items[i].Id">
                                <input type="hidden" value="@Model.Items[i].PictureUrl" id="item_picture_uri_@Model.Items[i].Id"/>
                                <input type="hidden" value="1" id="quantity_@Model.Items[i].Id" />
                                <input type="hidden" value="@Model.Items[i].UnitPrice" id="item_price_@Model.Items[i].Id"/>
                                <input type="hidden" value="@Model.Items[i].OwnerId" id="item_owner_@Model.Items[i].Id">
                                @if(User.Identity.IsAuthenticated){
                                    <li><a style="cursor:pointer" class="add_to_cart" id="@Model.Items[i].Id"><i class="fa fa-shopping-cart"></i></a></li>
                                    @* <input class="esh-catalog-button" type="submit" value="[ ADD TO CART ]" /> *@
                                }
                                
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6 id="item_name_@Model.Items[i].Id">@Model.Items[i].Name
                                <span id="success_@Model.Items[i].Id" style="display:none;margin-left:10px;color:#7fad39;"><i style="font-size:25px" class="fa fa-check"></i></span>
                            </h6>
                            <h5>$@Model.Items[i].UnitPrice.ToString("N2")</h5>
                        </div>
                    </div>
                </div>
            }
            
            
        </div>
    </div>
</section>
