@model OrderForSaleViewModel;

@{
    ViewData["Title"] = "Sale - Order";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; 
}

<div class="row">
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <div class="form-row align-items-center">
                    <div class="col-md-5 my-1">
                        <select class="custom-select" id="ItemStatus" >
                            <option value="">All Satus </option><span class="arrow_carrot-down"></span>
                        </select>                  
                    </div> 
                    <div class="col-md-5 my-1">                
                        <input type="text" class="form-control" asp-for="SearchItemName"  placeholder="What do yo u need?">        
                    </div>  
                    <div class="col-auto my-1">
                        <a style="cursor:pointer" class="site-btn search_item">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </a>            
                    </div>               
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!-- Primary table start -->
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">List of Orders</h4>
                <div class="data-tables datatable-primary">
                    <div class="form-row align-items-center">
                        <div class="col-md-1 my-1">
                            <label>Sort By:</label>
                        </div>
                        <div class="col-md-2">
                            <select id="select_sort" class="select_sort_value custom-select">
                                <option value="" selected>Name </option><span class="arrow_carrot-down"></span>
                                <option value="name_desc">Name Descending</option>
                            </select>   
                        </div>
                    </div>
                    <br />
                    @if(@Model.OrderItemsPaging == null){
                        <div style="text-align:center">
                            <h3 style="font-weight:600;margin:auto;">No orders found</h3>
                        </div>
                    }else{
                        <table id="dataTable2" class="text-center">
                            <thead class="text-capitalize">
                                <tr>
                                    <th width="10%">Order Id</th>
                                    <th width="20%">Order Date</th>
                                    <th width="20%">Buyer Name</th>
                                    <th width="25%">Item Name</th>
                                    <th width="10%">Unit Price</th>
                                    <th width="5%">Units</th>
                                    <th width="10%">Status</th>
                                    <th width="10%">Actions</th>
                                </tr>
                            </thead>
                            <tbody id="item_body">
                                @foreach(var item in Model.OrderItemsPaging)
                                {
                                    <tr>
                                        <td>@item.OrderId</td>
                                        <td>@item.OrderDate</td>
                                        <td>@item.FirstName @item.LastName</td>
                                        <td>@item.ItemName</td>
                                        <td>@item.UnitPrice</td>
                                        <td>@item.Units</td>
                                        <td>@item.Status</td>
                                        <td>
                                            <a href="#"><i class="fa fa-info"></i></a>
                                            <a href="#"> <i class="fa fa-edit"></i></a>
                                        </td>
                                    </tr>
                                } 
                            </tbody>
                        </table>
                    }
                    
                </div>
                @if(@Model.OrderItemsPaging != null){
                    <div class="row">
                            @{
                            var prevDisabled = !Model.OrderItemsPaging.HasPrevious ? "disabled" : "";
                            var nextDisabled = !Model.OrderItemsPaging.HasNext ? "disabled" : "";
                        }   
                        @* Start Pagination *@
                        <div class="col-lg-6 col-md-8 mt-5" style="text-align:center">
                            <div class="card">
                                <div class="card-body">
                                    <nav aria-label="...">
                                        <ul class="pagination" id="pagination_body">
                                            <li class="page-item @prevDisabled">
                                                <a class="page-link"  tabindex="-1" id="num-page@(Model.OrderItemsPaging.PageIndex-1)">Previous</a>
                                            </li>
                                            @for(var i = 0;i<Model.OrderItemsPaging.TotalPages;i++){
                                                var pageIndex = i+1;
                                                var idpageIndex = "num-page" + pageIndex;
                                                if( pageIndex == Model.OrderItemsPaging.PageIndex){
                                                    <li class="page-item active">
                                                        <a class="page-link" id="@idpageIndex"  >@pageIndex <span class="sr-only">(current)</span></a>
                                                    </li>
                                                }
                                                else{
                                                    <li class="page-item"><a class="page-link" id="@idpageIndex"  >@pageIndex</a></li>
                                                }
                                            }    
                                            <li class="page-item @nextDisabled">
                                                <a class="page-link"   id="num-page@(Model.OrderItemsPaging.PageIndex+1)">Next</a>
                                            </li>                                                                                              
                                        </ul>     
                                    </nav>
                                </div>
                            </div>
                        </div> 
                        @* End Pagination *@
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- Primary table end -->
</div>

@* Javascript *@
@section Scripts{
    <script>
        $(document).ready(function(){
            var delay_time = 500;
            function loadPage(searchItemName,satus,pageNumber,sortOrder){
                $.ajax({
                    method:'GET',
                    url: '@Url.Action("OrderForSalePaging","OrderForSale")',
                    data:{searchItemName: searchItemName, status: status, pageNumber: pageNumber, sortOrder: sortOrder},
                    success:function(data){
                        html = '';
                        html_2 = '';     
                        for(i=0; i<data.orderItemsPaging.length;i++)
                        {
                            var item = data.orderItemsPaging[i];
                            var fullname= item.firsttName + " " + item.lastName;
                            var OrderDate = item.orderDate;
                            html += '<tr>';
                            html += '<td>'+item.orderId+'</td>';
                            html += '<td>'+OrderDate+'</td>';
                            html += '<td>'+fullname+'</td>';
                            html += '<td>'+item.itemName+'</td>';
                            html += '<td>'+item.unitPrice+'</td>';
                            html += '<td>'+item.units+'</td>';
                            html += '<td>'+item.status+'</td>';
                            html +='<td>'
                            html +=' <a href="#"><i class="fa fa-info"></i></a>';           
                            //html +='<a asp-action="Delete" href="User/Delete/'+item.userId+'"><i class="fa fa-close"></i></a>';  
                            html +='<a href="#"> <i class="fa fa-edit"></i></a>';          
                            html += '</td>';
                            html += '</tr>';
                        }
                        // html_2
                        var prevDisabled = "";
                        var nextDisabled = "";
                        if( data.pageIndex <= 1 ) prevDisabled = "disabled";
                        if( data.pageIndex >= data.pageTotal ) nextDisabled ="disabled";
                        var idprev="num-page"+ (data.pageIndex-1);
                        var idnext="num-page"+ (data.pageIndex+1);
                        html_2 +='<li class="page-item '+ prevDisabled +'"><a class="page-link" id="'+idprev+'" asp-action="Index" asp-route-pageNumber="'+(data.pageIndex-1)+'" tabindex="-1">Previous</a></li>';
                        for(var i = 0;i<data.pageTotal;i++){
                            var pageIndex = i+1;
                            var idpageIndex = "num-page" + pageIndex;
                            if( pageIndex == data.pageIndex){
                                html_2 +='<li class="page-item active"><a class="page-link" id="'+idpageIndex+'" asp-action="Index" asp-route-pageNumber="'+data.orderItemsPaging.PageIndex+'">'+pageIndex+' <span class="sr-only">(current)</span></a></li>';
                            }
                            else{
                                html_2 +='<li class="page-item"><a class="page-link" id="'+idpageIndex+'" asp-action="Index" asp-route-pageNumber="'+pageIndex+'">'+pageIndex+'</a></li>';
                            }
                        }    
                        html_2 +='<li class="page-item '+nextDisabled+'"><a class="page-link" id="'+idnext+'" asp-action="Index" asp-route-pageNumber="'+(data.pageIndex+1)+'">Next</a></li>';                                                                                              
                    },
                    complete:function(){
                        setTimeout(function(){
                            $("#item_body").removeClass('preloder_item').html(html);
                            $("#pagination_body").html(html_2);
                        },delay_time)
                    },
                    error: function(xhr){
                        alert(xhr);
                    }
                })
            }
           /* $(document).on('click','.search_item',function(){
                var ownerId= $("#OwnerId").val();
                var selectedSort= $(this).children("option:selected").val();
                var searchString = $("#SearchString").val();
                var selectedSort= $(this).children("option:selected").val();
                var itemCategory = $("#ItemCategory").children("option:selected").val();
                var minPrice = parseFloat($("#minPrice").val());
                var maxPrice = parseFloat($("#maxPrice").val());
                html = '<div class="preloder_item"><div class="loader_item"></div></div>';
                html = '<div style="width: 1000px;text-align:center"><h3><b>Waiting for searching...</b></h3></div>';
                $('#item_body').html('');
                $("#pagination_body").html('');
                $("#item_body").html(html);
                loadPage(searchString,itemCategory,1,minPrice,maxPrice,selectedSort,ownerId);
            });
            $(document).on('change','.select_sort_value',function(){
                var ownerId= $("#OwnerId").val();
                var selectedSort= $(this).children("option:selected").val();
                var searchString = $("#SearchString").val();
                var itemCategory = $("#ItemCategory").children("option:selected").val();
                var minPrice = parseFloat($("#minPrice").val());
                var maxPrice = parseFloat($("#maxPrice").val());
                html = '<div class="preloder_item"><div class="loader_item"></div></div>';
                html = '<div style="width: 1000px;text-align:center"><h3><b>Waiting for searching...</b></h3></div>';
                $('#item_body').html('');
                $("#pagination_body").html('');
                $("#item_body").html(html);
                loadPage(searchString,itemCategory,1,minPrice,maxPrice,selectedSort,ownerId);    
            })*/
            $(document).on('click','.page-link',function(){
                //var selectedSort= $("#select_sort").children("option:selected").val();
                var searchItemName = $("#SearchItemName").val();
                var status = $("#ItemStatus").children("option:selected").val();
                var pageNumber = $(this).attr("id").slice(8);
                WaitingSearch();
                loadPage(searchItemName,status,pageNumber,null);
            });
            function WaitingSearch(){
                html = '<div style="width: 1000px;text-align:center"><h3><b>Waiting for searching...</b></h3></div>';
                $('#item_body').html('');
                $("#pagination_body").html('');
                $("#item_body").html(html);
            }
        })
    </script>
}