@model Order
@using Microsoft.Extensions.Options
@inject IOptions<StripeSettings> Stripe
<div class="col-lg-6 col-md-6">
    <div class="checkout__order">
        <h4>Your Order</h4>
        <div class="checkout__order__products">Products <span>Total</span></div>
        <ul>
            @for (int i = 0; i < Model.OrderItems.Count; i++)
            {
                var item = Model.OrderItems[i];
                <li>
                    <p style="font-weight:700;margin:10px 0" class="item__units">@item.Units</p>
                    <p style="width:350px;float:left;margin-left:20px">@item.ItemName</p> 
                    <span>$@Math.Round(@item.Units * @item.UnitPrice,2)</span>
                    <div style="clear:both"></div>
                </li>
                <input type="hidden" value="@item.PictureUrl" name=@("OrderItems[" + i + "].PictureUrl") />
                <input type="hidden" value="@item.ItemName" name=@("OrderItems[" + i + "].ItemName") />
                <input type="hidden" value="@item.UnitPrice" name=@("OrderItems[" + i + "].UnitPrice") />
                <input type="hidden" value="@item.Units" name=@("OrderItems[" + i + "].Units") />
                <input type="hidden" value="@item.ItemId" name=@("OrderItems[" + i + "].ItemId") />
            }
        </ul>
        <div class="checkout__order__subtotal">Subtotal <span>$@Model.Total.ToString("N2")</span></div>
        <div class="checkout__order__total">Total <span>$@Model.Total.ToString("N2")</span></div>
        <input type="hidden" value="@Model.Total" name="Total"/>
        @if(Model.OrderItems.Count == 0){
            <a asp-action="Index" asp-controller="Shop" class="primary-btn cart-btn">Go back to shop</a>
        }
        else{
            
            @* <input type="submit" class="stripe-button site-btn" value="[ Place Order ]"> *@
            <script src="//checkout.stripe.com/v2/checkout.js"
                                class="stripe-button"
                                data-key="@Stripe.Value.PublishableKey" >
                        </script>
        }
    </div>
</div>

