@model Order

@{
    ViewData["Title"] = "New Order";
}
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Checkout</h2>
                    <div class="breadcrumb__option">
                        <a asp-action="Index" asp-controller="Home">Home</a>
                        <span>Checkout</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <h4>Billing Details</h4>
            <partial name="_ValidationScriptsPartial"></partial>
            <form asp-action="Create" asp-controller="Order" method="POST">
                <div class="row">
                    <div class="col-lg-6 col-md-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p asp-for="@Model.FirstName" >First Name<span>*</span></p>
                                    <input asp-for="@Model.FirstName"  type="text" placeholder="FirstName" />
                                    <span asp-validation-for="@Model.FirstName" class="alert-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p asp-for="@Model.LastName" >Last Name<span>*</span></p>
                                    <input asp-for="@Model.LastName"  type="text" placeholder="LastName" />
                                    <span asp-validation-for="@Model.LastName" class="alert-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="checkout__input">
                            <p asp-for="@Model.Address.Country">Country<span>*</span></p>
                            <input asp-for="@Model.Address.Country" type="text">
                        </div>
                        <div class="checkout__input">
                            <p asp-for="@Model.Address.StreetAddress">Address<span>*</span></p>
                            <input asp-for="@Model.Address.StreetAddress" type="text" placeholder="Street Address" class="checkout__input__add">
                        </div>
                        <div class="checkout__input">
                            <p asp-for="@Model.Address.City">Town/City<span>*</span></p>
                            <input asp-for="@Model.Address.City" type="text">
                        </div>
                        <div class="checkout__input">
                            <p asp-for="@Model.Address.Country">Country/State<span>*</span></p>
                            <input asp-for="@Model.Address.Country" type="text">
                        </div>
                        <div class="checkout__input">
                            <p asp-for="@Model.Address.PostalCode">Postcode / ZIP<span>*</span></p>
                            <input asp-for="@Model.Address.PostalCode" type="text">
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p asp-for="@Model.PhoneNumber">Phone<span>*</span></p>
                                    <input asp-for="@Model.PhoneNumber" type="text">
                                    <span asp-validation-for="@Model.PhoneNumber" class="alert-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p asp-for="@Model.Email">Email<span>*</span></p>
                                    <input asp-for="@Model.Email" type="text">
                                    <span asp-validation-for="@Model.Email" class="alert-danger"></span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="checkout__input">
                            <p>Order notes<span>*</span></p>
                            <input asp-for="@Model.Note" type="text" 
                                placeholder="Notes about your order, e.g. special notes for delivery.">
                        </div>
                    </div>
                    @await Html.PartialAsync("_OrderItems")
                </div>
            </form>
        </div>
    </div>
</section>

@* <form asp-action="Create" asp-controller="Order" method="POST">
    <section class="esh-orders_new-section">
        <h4 class="esh-orders_new-title">Shipping address</h4>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="@Model.FirstName" class="esh-orders_new-title">First Name</label>
                    <input asp-for="@Model.FirstName" class="form-control form-input" type="text" placeholder="FirstName" />
                    <span asp-validation-for="@Model.FirstName" class="alert-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="@Model.LastName" class="esh-orders_new-title">Last Name</label>
                    <input asp-for="@Model.LastName" class="form-control form-input" type="text" placeholder="LastName" />
                    <span asp-validation-for="@Model.LastName" class="alert-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="@Model.Address" class="esh-orders_new-title">Address</label>
                    <input asp-for="@Model.Address" class="form-control form-input" type="text" placeholder="Address" />
                    <span asp-validation-for="@Model.Address" class="alert-danger"></span>
                </div>
            </div>
        </div>
    </section>
    
    
    <partial name="_OrderItems.cshtml" for="@Model" asp-for="@Model"/>

    <input type="submit" value="[ Place Order ]" />
</form> *@

