@model BuyerViewModel

@{
    ViewData["Title"] = "Order List";
}
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Order</h2>
                    <div class="breadcrumb__option">
                        <a asp-action="Index" asp-controller="Home">Home</a>
                        <span>Order</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="hero" style="margin-top:110px">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <partial name="_MenuBar"/>
            </div>
            <div class="col-lg-9">
                <div class="card-body">
                    <h4>Order List</h4>
                    <table class="text-center table table-borderless">
                        <thead>
                            <th>@Html.DisplayNameFor(model => model.order.ElementAt(0).OrderId)</th>
                            <th>@Html.DisplayNameFor(model => model.order.ElementAt(0).OrderDate)</th>
                            <th>@Html.DisplayNameFor(model => model.order.ElementAt(0).Total)</th>
                            <th>@Html.DisplayNameFor(model => model.order.ElementAt(0).Status)</th>
                            <th>Detail</th>
                        </thead>
                        <tbody>
                        @foreach (var order in Model.order){
                            <tr>
                                <td>@Html.DisplayFor(model => order.OrderId)</td>
                                <td><p>@order.OrderDate.ToString("dd/MM/yyyy")</p></td>
                                <td>@Html.DisplayFor(model => order.Total)</td>
                                <td>@order.Status
                                    
                                </td>
                                <td>
                                    <a style="cursor:pointer" id="@order.OrderId"  class="show"><i id="icon_action" class="fa fa-arrow-left"></i></a>
                                    @* <a asp-action="Details" asp-route-orderId="@order.OrderId">Details</a> *@
                                </td>
                            </tr>
                            <tr style="display:none" id="action_@order.OrderId" >
                                <td colspan="5">
                                    <table class="table-striped" style="width:100%">
                                        <thead style="color:#ffffff;background-color:#7fad39;">
                                            <th width="40%">Item Name</th>
                                            <th>Quantities</th>
                                            <th>Unit Price</th>
                                            <th>Total</th>
                                            <th>Status</th>
                                        </thead>
                                        <tbody>
                                            @foreach(var item in order.OrderItems)
                                            {
                                                <tr>
                                                    <td>@item.ItemName</td>
                                                    <td>@item.Units</td>
                                                    <td>$@item.UnitPrice.ToString("N2")</td>
                                                    <td>$@Math.Round(@item.Units * @item.UnitPrice,2)</td>
                                                    <td>@item.Status</td>
                                                </tr>
                                            }
                                            
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            
                        }
                        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</section>

@section Scripts{
    <script>
    $(document).ready(function(){
        $(document).on('click','.show',function(){
            var id = $(this).attr('id');
            $('#action_' + id).show(600);
            html='';
            html+='<i class="fa fa-arrow-down"></i>';
            $('#' + id).html('').html(html);
            $('#' + id).addClass('close_order_detail');
        })
        $(document).on('click','.close_order_detail',function(){
            var id = $(this).attr('id');
            $('#action_' + id).hide(600);
            html='';
            html+='<i class="fa fa-arrow-left"></i>';
            $("#"+id).html('').html(html);
            $('#'+id).removeClass('close_order_detail');
        })
    })
    </script>                            
}